<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<br>
<div class="mt-5 col-12 order-4">
    <div class="pt-5 row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" data-th-href="@{'/student/add'}"><i class="fa fa-user-plus"></i>
                &nbsp; New Student</a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Student Management
                </strong>
            </h4>
        </div>
        <div class="col">
            <!--<a data-th-href="@{'/student/workingPlace'}" id="searchShow" class="btn btn-primary">
                <i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;
                <i class="fas fa-store-alt" style="font-size: 20px"></i>
                &nbsp;
            </a>-->
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <div class="col">
        <div class="col table-responsive" id="studentListPresent" data-th-if="${not #lists.isEmpty(students)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Code </th>
                    <th> Name</th>
                    <th> NIC</th>
                    <th> BIT Index Number</th>
                    <th> BIT Register Number</th>
                    <th> Mobile</th>
                    <th> Add Status</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="student, rowCount : ${students}">
                    <th data-th-text="${rowCount.count}"></th>
                    <th data-th-text="${student.code}"></th>
                    <th data-th-text="${student.callingName}"></th>
                    <th data-th-text="${student.nic}"></th>
                    <th data-th-text="${student.bitIndexNumber}"></th>
                    <th data-th-text="${student.bitRegNumber}"></th>
                    <th data-th-text="${student.mobileOne}"></th>
                    <th data-th-text="${student.studentStatus.studentStatus}"></th>
                    <th>
                        <a id="studentView" data-th-href="${'/student/' + student.id}" class="btn btn-success btn-sm"><i
                                class="fa fa-folder-open"></i>&nbsp;View</a>
                        <a id="studentEdit" data-th-href="${'/student/edit/' + student.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a id="studentRemove" data-th-href="${'/student/remove/' + student.id}"
                           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" data-th-if="${ #lists.isEmpty(students)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no student upto now please add student to the system
                            using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--/* footer include */-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--/* script include */-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
<!--/*  data table  */-->
<script data-th-src="@{/js/pagination.js}"></script>

</body>
</html>