<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Styles, meta data, and title are included-->
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="bg-light">
<!--Nav bar is included-->
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<br>
<div class="mt-5 mb-5 offset-sm-2 col-sm-8 col-12 order-4">
    <div class="card mt-5 text-center registrationCard ">
        <div class="card-body mt-5">
            <h1 class="card-title">Welcome To W3 Academy</h1>
            <img class="card-img-top img-thumbnail" alt="Card image in the bottom" id="cardImg" th:src="@{/img/log.png}">
            <p class="card-text">Enter your password</p>
            <div class="row">
                <div class="col-sm-4 offset-1">
                    <form action="/register" method="post">
                        <div class="form-group">
                            <div class="form-row col-12">
                                <label class="form-row " for="myPassword">Password: </label>
                                <input class="" id="myPassword" type="password" placeholder="Ex: as12AS!@ab" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row col-12">
                                <label class="form-row" for="myConfirmPassword">Verify Password: </label>
                                <input class="" id="myConfirmPassword" type="password" placeholder="Ex: as12AS!@ab" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <button class="btn btn-primary" type="submit">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-7 errorDetailShow">
                    <div class="well text-left mt-3 rounded" id="errors"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer is included-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>
<script th:src="@{/js/password-validation.js}"></script>
<script>
    $(document).ready(function () {
        $("#myPassword").passwordValidation({"confirmField": "#myConfirmPassword"}, function (element, valid, match, failedCases) {

            $("#errors").html("<pre class='text-warning p-4'>" + failedCases.join("\n") + "</pre>");

            if (valid) $(element).css("border", "2px solid green");
            if (!valid) $(element).css("border", "2px solid red");
            if (valid && match) $("#myConfirmPassword").css("border", "2px solid green");
            if (!valid || !match) $("#myConfirmPassword").css("border", "2px solid red");
        });
    });
</script>
</body>
</html>





