<!DOCTYPE html>
<html lang="en">
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>

</head>

<body>
<!--/* Nav bar is included */-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<br>
<div class="container col-6 mt-5 pt-5">
    <form autocomplete="off" class=" form p-4" data-th-action="@{/register/user}" method="post">
        <input data-th-value="${token}" hidden name="token" required type="text">
        <input data-th-value="${newOrOld}" hidden name="newOrOld" required type="text">
        <div class="form-group">
            <label>Password: </label>
            <input class="" id="myPassword" name="password" required type="password">
        </div>
        <div class="form-group">
            <label>Verify Password: </label>
            <input class="" id="myConfirmPassword" name="reEnterPassword" required type="password">
        </div>
        <div class="form-group">
            <button class=" btn btn-success " type="submit"> Register</button>
        </div>
        <div class="form-group">
            <div class="well" id="errors"></div>
        </div>
        <div class="form-group">
            <p data-th-text="${message}"></p>
        </div>
    </form>
</div>

<!--/* footer include */-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--/* script include */-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
<script data-th-src="@{/js/passwordValidator.js}"></script>
<script>
    $(document).ready(function () {
        let validOne;
        $("#myPassword").passwordValidation({"confirmField": "#myConfirmPassword"}, function (element, valid, match, failedCases) {
            $("#errors").html("<pre class='darkmode--activated'>" + failedCases.join("\n") + "</pre>");
            validOne = valid;
            if (valid) $(element).css("border", "2px solid green");
            if (!valid) $(element).css("border", "2px solid red");
            if (valid && match) $("#myConfirmPassword").css("border", "2px solid green");
            if (!valid || !match) $("#myConfirmPassword").css("border", "2px solid red");
        });
        $('form').on('submit', function () {
            // do validation here
            return ($("#myConfirmPassword").val().length !== 0 || $("#myPassword").val().length !== 0);
        });

    });
</script>
</body>
</html>