<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="bg-light">
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<br>
<br>
<div class="mt-5 mb-5 offset-sm-4 col-sm-4 col-12 order-4 mb-5">
    <div class="card mt-5 text-center registrationCard ">
        <div class="card-body mt-5">
            <h1 class="card-title" >Welcome To W3 Academy</h1>
            <img class="card-img-top img-thumbnail" alt="Card image in the bottom" id="cardImg" src="" data-th-src="@{/img/log.png}">
            <p class="card-text">[[${message}]]</p>
            <form data-th-action="${addState?'/register':'/register/forgotten'}" method="post">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="email"></label>
                            <input type="email" id="email" name="email" placeholder="Please enter valid email" required data-toggle="tooltip" data-placement="right" title="Please Enter valid Email" data-offset="50%" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>