<!doctype html>
<html lang="en" >
<head data-th-fragment="headerFragment">
    <title data-th-if="${headerTitle==null}" data-th-text="${'W3Campus'}">Spring boot - Thymeleaf</title>
    <title data-th-if="${headerTitle!=null}" data-th-text="${headerTitle}">Spring boot - Thymeleaf</title>
    <!--/*  Required meta tags  */-->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!--/*  Bootstrap core CSS Downloaded file add */-->
    <link media="all" rel="stylesheet" data-th-href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css} " type="text/css"/>

    <!--/* Jquery ui */-->
    <link media="all" rel="stylesheet" data-th-href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css} " type="text/css"/>
    <link media="all" rel="stylesheet" data-th-href="@{/webjars/jquery-ui/1.12.1/jquery-ui.structure.css}" type="text/css"/>
    <link media="all" rel="stylesheet" data-th-href="@{/webjars/jquery-ui/1.12.1/jquery-ui.theme.css}" type="text/css"/>

    <!--/* Pdf js  */-->
    <link media="all" rel="stylesheet" data-th-href="@{/webjars/pdf-js/2.3.200/web/viewer.css}" type="text/css">

    <!--/* Chart js */-->
    <link media="all" rel="stylesheet" data-th-href="@{/webjars/chart.js/2.9.3/dist/Chart.min.css}" type="text/css">

    <!--/* table pagination */-->
    <link media="all" rel="stylesheet" data-th-href="@{/css/dataTables.bootstrap.min.css}" type="text/css"/>
    <!--/*  fontawesome css  */-->
    <link media="all" rel="stylesheet" data-th-href="@{/webjars/font-awesome/5.13.0/css/all.css} " type="text/css"/>
    <!--/* image uploader css */-->
    <link media="all" rel="stylesheet" data-th-href="@{/css/image-uploader.min.css}" type="text/css"/>
    <!--/* Floating Label */-->
    <link media="all" rel="stylesheet" data-th-href="@{/css/floating-labels.css}" type="text/css"/>
    <!--/*  Custom styles for this template  */-->
    <link media="all" rel="stylesheet" data-th-href="@{/css/myCss.css}" type="text/css"/>

</head>
<body>


</body>
</html>

