<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar navbar-expand-lg text-light navbar-light sticky-top darkmode--activated"
     data-th-fragment="navBarFragment">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <h3 class="font-weight-bold text-light darkmode--activated" id="navBarTitle">World Wide Wisdom Campus</h3>
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="">
            <img  data-th-src="@{/img/navBarLogo.png}" id="navBarLogo" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-left" id="myNavbar">
        <ul class="navbar-nav w-50 justify-content-start">
            <li class="nav-item mr-3">
                <a class="nav-link active" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="">News</a>
            </li>
            <li class="nav-item dropdown mr-3">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="" id="navbarEverythingMenuLink">
                    About
                </a>
                <div aria-labelledby="navbarEverythingMenuLink" class="dropdown-menu">
                    <a class="dropdown-item" href="">History</a>
                    <a class="dropdown-item" href="">Employees</a>
                    <a class="dropdown-item" href="">Awards</a>
                </div>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto flex-nowrap">
            <!--/*User profile*/-->
            <li class="nav-item dropdown mr-3" data-sec-authorize="isAuthenticated()">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="" id="navbarEverythingMenuOne">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;
                    <span data-th-text="${#authentication.name}"></span>
                    <i class='fas fa-user-cog ml-2'></i>
                </a>
                <div aria-labelledby="navbarEverythingMenuOne" class="dropdown-menu">
                    <a class="dropdown-item" data-th-href="@{'/profile'}">
                        <i aria-hidden="true" class="fa fa-user-circle"></i> &nbsp;Profile
                    </a>
                    <a class="dropdown-item" data-th-href="@{'/passwordChange'}">
                        <i aria-hidden="true" class="fa fa-key"></i> &nbsp;Change Password
                    </a>
                </div>
            </li>
            <!--/* Sing up */-->
            <li class="nav-item mr-3" data-sec-authorize="!isAuthenticated()">
                <a class="nav-link" data-th-href="@{'/register'}">
                    Sign up <i aria-hidden="true" class="fas fa-user-plus ml-2"></i></a>
            </li>
            <!--/* Login */-->
            <li class="nav-item mr-3" data-sec-authorize="!isAuthenticated()">
                <a class="nav-link" data-th-href="@{'/login'}">
                    Sign in <i aria-hidden="true" class="fas fa-sign-in-alt ml-2"></i></a>
            </li>
            <!--/* Log out */-->
            <li class="nav-item mr-3" data-sec-authorize="isAuthenticated()">
                <a class="nav-link" data-th-href="@{'/logout'}">
                    Sign out<i aria-hidden="true" class="fas fa-sign-out-alt ml-2"></i> </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>

